<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TTC Safety Detection</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="{{ url_for('static', filename='img/TTC_Logo_Square.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='img/TTC_Logo_Square.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <style>
    body {
      margin: 0;
      padding: 0;
    }
    
    /* Set the height of the hero section to 100% of the viewport height */
    #hero {
      height: 100vh;
    }
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">
      <a href="https://www.ttc.ca/" class="logo me-auto"><img src="{{ url_for('static', filename='img/TTC-LOGO.png') }}" alt="" class="img-fluid"></a>
      <nav id="navbar" class="navbar">
        <ul>
          <li> <h1 class="logo me-auto"><a>TTC Safety</a></h1></li>
        </ul>
        <button class="bi bi-list mobile-nav-toggle"></button>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" style="overflow-y: scroll">
    <div class="container">
      <div class="row">
        <div class="d-flex col-lg-6 flex-column justify-content-center order-2" data-aos-delay="200">
          <h1>Welcome to TTC Safety</h1>
          <h2>Subtitle here</h2>
          <div style="position: relative; opacity:1" class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
            <div onclick = "startRecording()" id = "record-button" class="glightbox btn-watch-video"><i class="bi bi-mic"></i><span>Start Recording</span></div>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 chart_green_1" data-aos="zoom-in" data-aos-delay="200" style="opacity:1">
          <img src="/static/img/chart_green_1.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section>
  

  <main id="main">

  </main><!-- End #main -->

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/waypoints/noframework.waypoints.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>
  
  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>